Django==2.0.3
django-debug-toolbar==1.9.1
django-extensions==2.0.6
ipython==6.2.1
psycopg2==2.7.4
remote-pdb==1.2.0
requests==2.18.4
powerline-status==2.6
celery==4.1.0
django-celery-results==1.0.1
flower==0.9.2
